---
layout: default
title: Home
---

<section class="beans">
    {% if site.data.beans.heading and site.data.beans.heading != "" %}
    <h2>{{ site.data.beans.heading }}</h2>
    {% endif %} {% if site.data.beans.copy and site.data.beans.copy != "" %}
    <p>{{ site.data.beans.copy }}</p>
    {% endif %}

    <div class="beans_list">
        {% for bean in site.data.beans.bean_list %}
        <div class="single_bean">
            <div class="bean_details">
                {% if bean.country_name and bean.country_name != "" %}
                <h3>{{ bean.country_name }}</h3>
                {% endif %} {% if bean.title and bean.title != "" %}
                <h4>{{ bean.title }}</h4>
                {% endif %} {% if bean.taste_notes and bean.taste_notes != "" %}
                <p class="notes">{{ bean.taste_notes }}</p>
                {% endif %}

                <div class="bean_metas">
                    {% if bean.region and bean.region != "" %}
                    <div class="bean_meta_single">
                        <div class="bean_meta_single_key">Region</div>
                        <div class="bean_meta_single_value">{{ bean.region }}</div>
                    </div>
                    {% endif %} {% if bean.variety and bean.variety != "" %}
                    <div class="bean_meta_single">
                        <div class="bean_meta_single_key">Variety</div>
                        <div class="bean_meta_single_value">{{ bean.variety }}</div>
                    </div>
                    {% endif %} {% if bean.processing and bean.processing != "" %}
                    <div class="bean_meta_single">
                        <div class="bean_meta_single_key">Processing</div>
                        <div class="bean_meta_single_value">{{ bean.processing }}</div>
                    </div>
                    {% endif %} {% if bean.altitude and bean.altitude != "" %}
                    <div class="bean_meta_single">
                        <div class="bean_meta_single_key">Altitude</div>
                        <div class="bean_meta_single_value">{{ bean.altitude }}</div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="country_icon" style="background-image: url(/assets/img/map_svgs/{{ bean.country }}.svg)"></div>
            <div class="bean_price">{{ bean.price }}<sup>đ</sup></div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="menu">
    {% if site.data.menu.title and site.data.menu.title != "" %}
    <h2>{{ site.data.menu.title }}</h2>
    {% endif %} {% if site.data.menu.copy and site.data.menu.copy != "" %}
    <p>{{ site.data.menu.copy }}</p>
    {% endif %}

    <div class="our_menu">
        {% for section in site.data.menu.sections %}
        <div class="menu_section">
            <h3>{{ section.title }}</h3>
            {% for group in section.groups %}
            <div class="menu_item_group">
                {% if group.title and group.title != "" %}
                <h4>{{ group.title }}</h4>
                {% endif %} {% for item in group.items %}
                <div class="menu_item">
                    <div class="menu_item_flex">
                        <div class="menu_item_title">
                            {{ item.title }}{% if item.choose_beans %}
                            <span class="choose_beans_tag">your beans</span>{% endif %}
                        </div>
                        <div class="menu_item_price">{{ item.price }}đ</div>
                    </div>
                    {% if item.note and item.note != "" %}
                    <div class="menu_item_note">{{ item.note }}</div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>
