---
layout: default
title: Home
---

<section class="beans">
    {% if site.data.settings.beans_heading and site.data.settings.beans_heading != "" %}
    <h2>{{ site.data.settings.beans_heading }}</h2>
    {% endif %} {% if site.data.settings.beans_copy and site.data.settings.beans_copy != "" %}
    <p>{{ site.data.settings.beans_copy }}</p>
    {% endif %}

    <div class="beans_list">
        {% assign beans_all = "" | split: "" %} {% for pair in site.data.beans %}{% assign beans_all = beans_all | push:
        pair[1] %}{% endfor %} {% assign beans_sorted = beans_all | sort: "order" %} {% for bean in beans_sorted %}
        <div class="single_bean">
            <div class="bean_details">
                {% if bean.country_name and bean.country_name != "" %}
                <h3>{{ bean.country_name }}</h3>
                {% endif %} {% if bean.title and bean.title != "" %}
                <h4>{{ bean.title }}</h4>
                {% endif %} {% if bean.taste_notes and bean.taste_notes != "" %}
                <p class="notes">{{ bean.taste_notes }}</p>
                {% endif %}

                <div class="bean_metas">
                    {% if bean.region and bean.region != "" %}
                    <div class="bean_meta_single">
                        <div class="bean_meta_single_key">Region</div>
                        <div class="bean_meta_single_value">{{ bean.region }}</div>
                    </div>
                    {% endif %} {% if bean.variety and bean.variety != "" %}
                    <div class="bean_meta_single">
                        <div class="bean_meta_single_key">Variety</div>
                        <div class="bean_meta_single_value">{{ bean.variety }}</div>
                    </div>
                    {% endif %} {% if bean.processing and bean.processing != "" %}
                    <div class="bean_meta_single">
                        <div class="bean_meta_single_key">Processing</div>
                        <div class="bean_meta_single_value">{{ bean.processing }}</div>
                    </div>
                    {% endif %} {% if bean.altitude and bean.altitude != "" %}
                    <div class="bean_meta_single">
                        <div class="bean_meta_single_key">Altitude</div>
                        <div class="bean_meta_single_value">{{ bean.altitude }}</div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div
                class="country_icon"
                style="background-image: url({{ site.baseurl }}/assets/img/map_svgs/{{ bean.country }}.svg)"></div>
            <div class="bean_price">{{ bean.price }}<sup>đ</sup></div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="menu">
    {% if site.data.settings.menu_title and site.data.settings.menu_title != "" %}
    <h2>{{ site.data.settings.menu_title }}</h2>
    {% endif %} {% if site.data.settings.menu_copy and site.data.settings.menu_copy != "" %}
    <p>{{ site.data.settings.menu_copy }}</p>
    {% endif %}
    <p><span class="choose_beans_tag">*</span> Denotes you may choose a seasonal bean for this drink</p>

    <div class="our_menu">
        {% assign sections_all = "" | split: "" %} {% for pair in site.data.menu_sections %}{% assign sections_all =
        sections_all | push: pair[1] %}{% endfor %} {% assign sections_sorted = sections_all | sort: "order" %} {% for
        section in sections_sorted %}
        <div class="menu_section">
            <h3>{{ section.title }}</h3>
            {% for group in section.groups %}
            <div class="menu_item_group">
                {% if group.title and group.title != "" %}
                <h4>{{ group.title }}</h4>
                {% endif %} {% for item in group.items %}
                <div class="menu_item">
                    <div class="menu_item_flex">
                        <div class="menu_item_title">
                            {{ item.title }}{% if item.choose_beans %}
                            <span class="choose_beans_tag">*</span>{% endif %}
                        </div>
                        <div class="menu_item_price">{{ item.price }}<span class="menu_dong">đ</span></div>
                    </div>
                    {% if item.note and item.note != "" %}
                    <div class="menu_item_note">{{ item.note }}</div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>
{% assign about = site.data.about %} {% if about.about_image_1 and about.about_image_1 != "" and about.about_image_2 and
about.about_image_2 != "" and about.about_bio and about.about_bio != "" %}
<section class="about">
    {% if about.about_heading and about.about_heading != "" %}
    <h2>{{ about.about_heading }}</h2>
    {% endif %} {% if about.about_tagline and about.about_tagline != "" %}
    <p>{{ about.about_tagline }}</p>
    {% endif %}
    <div class="story_grid">
        <div class="story_image" style="background-image: url('{{ site.baseurl }}{{ about.about_image_1}}')"></div>
        <div class="story_block_copy">{{ about.about_bio | markdownify }}</div>
        <div class="story_image" style="background-image: url('{{ site.baseurl }}{{ about.about_image_2 }}')"></div>
    </div>
</section>
{% endif %}
