<!doctype html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% if site.data.settings.meta_title and site.data.settings.meta_title != "" %}
        <title>{{ site.data.settings.meta_title }}</title>
        {% else %}
        <title>{{ site.data.settings.business_name }}</title>
        {% endif %}
        {% if site.data.settings.meta_description and site.data.settings.meta_description != "" %}
        <meta name="description" content="{{ site.data.settings.meta_description }}" />
        {% endif %}
        <script src="https://kit.fontawesome.com/a67760889b.js" crossorigin="anonymous" defer></script>
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Handlee&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link href="https://fonts.googleapis.com/css2?family=Handlee&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"></noscript>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />

        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "CafeOrCoffeeShop",
            "name": "{{ site.data.settings.business_name }}",
            {% if site.data.settings.meta_description and site.data.settings.meta_description != "" %}
            "description": "{{ site.data.settings.meta_description }}",
            {% endif %}
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "{{ site.data.settings.address }}",
                "addressLocality": "Da Nang",
                "addressCountry": "VN"
            },
            "geo": {
                "@type": "GeoCoordinates",
                "latitude": 16.047111,
                "longitude": 108.239500
            },
            "openingHours": "Mo Tu We Fr Sa Su 09:00-18:00",
            "servesCuisine": "Coffee",
            {% if site.data.settings.phone and site.data.settings.phone != "" %}
            "telephone": "{{ site.data.settings.phone }}",
            {% endif %}
            "url": "{{ site.url }}{{ site.baseurl }}",
            "sameAs": [{% for account in site.data.settings.social_accounts %}"{{ account.url }}"{% unless forloop.last %},{% endunless %}{% endfor %}]
        }
        </script>

    </head>
    <body>
       
        <header>
            <div class="header_wrapper" style="background-image: url('{{ site.baseurl }}{{ site.data.settings.background_image }}');">
                <div class="header_flex">
                    <div class="logo" aria-label="{{ site.data.settings.business_name }}"><h1>{{ site.data.settings.business_name }}</h1></div>
                    <div class="site_info_meta">
                        <div class="socials">
                            {% for account in site.data.settings.social_accounts %}
                            <a href="{{ account.url }}" target="_blank" aria-label="{{ account.name }}"><i class="{{ account.icon }}"></i></a>
                            {% endfor %}
                        </div>
                        <div class="hours">
                            <div class="hours_time">{{ site.data.settings.hours }}</div>
                            <div class="hours_note">{{ site.data.settings.hours_note }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        