<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }} | {{ site.data.settings.business_name }}</title>
        <script src="https://kit.fontawesome.com/a67760889b.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />

    </head>
    <body>
       
        <header>
            <div class="header_wrapper">            
                <div class="header_flex">
                    <div class="logo" aria-label="{{ site.data.settings.business_name }}"><h1>{{ site.data.settings.business_name }}</h1></div>
                    <div class="site_info_meta">
                        <div class="socials">
                            {% for account in site.data.settings.social_accounts %}
                            <a href="{{ account.url }}" target="_blank" aria-label="{{ account.name }}"><i class="{{ account.icon }}"></i></a>
                            {% endfor %}
                        </div>
                        <div class="hours">
                            <div class="hours_time">{{ site.data.settings.hours }}</div>
                            <div class="hours_note">{{ site.data.settings.hours_note }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        