@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    font-family: "Jost", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dacbb5;
    font-style: normal;
}

main {
    background-color: #f7f0e6;
}
.site_wrapper {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 40px;
}
header {
    background-color: #160e02;
    color: white;
    height: 100vh;
    max-height: 800px;
}
.header_flex {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 40px 0 0 0;
}
.logo {
    background-image: url("../img/brewinghood-logo.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 22vh;
    max-height: 300px;
    aspect-ratio: 404 / 346;
    min-height: 200px;
}
.logo h1 {
    text-indent: -9999px;
    position: absolute;
}
.site_info_meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.site_info_meta .socials {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 2px solid #fff;
    display: flex;
    gap: 20px;
}
.site_info_meta .socials a {
    padding: 0;
    color: white;
    font-size: 30px;
    line-height: 30px;
}
.site_info_meta .hours {
    text-align: right;
    display: flex;
    flex-direction: column;
}
.hours_time {
    font-size: 24px;
    font-weight: 700;
    line-height: 1em;
}
.hours_note {
    font-size: 20px;
    font-weight: 400;
}

section {
    padding: 80px;
}
section > h2 {
    font-size: 50px;
    font-weight: 200;
    margin: 0 0 5px 0;
    line-height: 1.2em;
}
section > h2 + p {
    margin: 0;
    font-weight: 300;
}

.beans_list {
}
.single_bean {
    padding: 30px 80px;
    border-bottom: 1px dashed #61554c;
}
.single_bean:last-child {
    border: none;
}
.bean_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.bean_details h3 {
    font-size: 26px;
    font-weight: 200;
    margin: 0 0 5px 0;
}
.bean_details h4 {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    margin: 0 0 15px 0;
}
.bean_details p.notes {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
    color: #6a1414;
    font-size: 20px;
}
.bean_metas {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.bean_meta_single {
    flex: 0 0 auto;
}
.bean_meta_single_key {
    text-transform: uppercase;
}
.bean_meta_single_value {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
    color: #6a1414;
    font-size: 20px;
}
