*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    font-family: "Jost", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dacbb5;
    font-style: normal;
}

/* Globals */
/* ----------------------------------- */
.site_wrapper {
    max-width: 1320px;
    margin: 0 auto;
}
section {
    padding: 80px;
}
section > h2 {
    font-size: 50px;
    font-weight: 200;
    margin: 0 0 5px 0;
    line-height: 1.2em;
}
section > h2 + p {
    margin: 0;
    font-weight: 300;
}

/* Header */
/* ----------------------------------- */
.header_wrapper {
    background-color: #160e02;
    color: white;
    height: 100vh;
    max-height: 800px;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 40px;
    background-size: cover;
    background-position: top center;
}
.header_flex {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 40px 0 0 0;
}
.logo {
    background-image: url("../img/brewinghood-logo.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 22vh;
    max-height: 300px;
    aspect-ratio: 404 / 346;
    min-height: 200px;
}
.logo h1 {
    text-indent: -9999px;
    position: absolute;
}
.site_info_meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.site_info_meta .socials {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 2px solid #fff;
    display: flex;
    gap: 20px;
}
.site_info_meta .socials a {
    padding: 0;
    color: white;
    font-size: 30px;
    line-height: 30px;
    transition: ease all 500ms;
}
.site_info_meta .socials a:hover {
    color: gold;
}
.site_info_meta .hours {
    text-align: right;
    display: flex;
    flex-direction: column;
}
.hours_time {
    font-size: 24px;
    font-weight: 700;
    line-height: 1em;
}
.hours_note {
    font-size: 20px;
    font-weight: 400;
}

/* Beans */
/* ----------------------------------- */
section.beans {
    background: #fcf8f3;
}
.single_bean {
    position: relative;
    padding: 30px 80px;
    border-bottom: 1px dashed #61554c;
}
.single_bean:last-child {
    border: none;
}
.bean_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.bean_details h3 {
    font-size: 26px;
    font-weight: 200;
    margin: 0;
    line-height: 1.2em;
}
.bean_details h4 {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    margin: 0 0 5px 0;
}
.bean_details p.notes {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
    color: #6a1414;
    font-size: 20px;
    margin: 0 0 20px 0;
}
.bean_metas {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    width: 100%;
}
.bean_meta_single {
    flex: 0 0 auto;
}
.bean_meta_single_key {
    font-size: 14px;
    text-transform: uppercase;
}
.bean_meta_single_value {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
    color: #6a1414;
    font-size: 20px;
}
.bean_price {
    position: absolute;
    right: 0;
    top: 30px;
    width: 80px;
    text-align: center;
    font-size: 27px;
    color: #6a1414;
    font-weight: 700;
}
.bean_price sup {
    font-size: 0.6em;
    position: relative;
    top: 1px;
    color: #8a6f6f;
    left: 2px;
}
.country_icon {
    position: absolute;
    left: 0;
    top: 30px;
    width: 80px;
    height: 56px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
}

.choose_beans_tag {
    line-height: 0em;
    font-size: 30px;
    color: #db9084;
    position: relative;
    top: 10px;
}

/* Menu */
/* ----------------------------------- */
section.menu {
    background: #fff;
}
.menu_section {
    margin: 0 0 60px 0;
}
.menu_section h3 {
    font-size: 34px;
    font-weight: 400;
    margin: 50px 0 20px 0;
    color: #6a1414;
}

.menu_item_group h4 {
    margin: 25px 0 5px 0;
    font-size: 22px;
    font-weight: 500;
    color: #6a1414;
}
.menu_item {
    padding: 12px 0;
    border-bottom: 1px dotted #dacbb5;
}
.menu_item:last-child {
    border: none;
}
.menu_item_flex {
    display: flex;
    gap: 30px;
    line-height: 1.3em;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
}
.menu_dong {
    color: #d3a5a5;
    font-size: 12px;
    position: relative;
    top: -4px;
    margin: 0 0 0 1px;
}
.menu_item_note {
    padding: 3px 0 0 0;
    font-size: 14px;
    font-style: italic;
}

/* About */
/* ----------------------------------- */
section.about {
    background: #fcf8f3;
}
.story_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin: 40px 0 0 0;
}
.story_image {
    background: #f1e9de;
    border-radius: 4px;
    grid-column: 2/3;
    min-height: 380px;
    background-size: cover;
    background-position: center;
}
.story_image:first-child {
    grid-row: 1/2;
}
.story_image:last-child {
    grid-row: 2/3;
}
.story_block_copy {
    grid-column: 1/2;
    grid-row: 1/3;
}

/* Footer */
/* ----------------------------------- */

.footer_flex {
    padding: 0 10vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    gap: 40px;
    background: #120b05;
    height: 100vh;
    max-height: 700px;
    text-align: center;

    max-width: 1320px;
    margin: 0 auto;
    padding: 0 40px;
}
footer .site_info_meta {
    align-items: center;
}
footer .site_info_meta .hours {
    align-items: center;
    text-align: center;
}
.footer_masthead_wrap {
    background: #120b05;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 10vw 30px 10vw;
    text-align: center;
}
.footer_masthead_wrap a {
    color: #967559;
    transition: ease all 400ms;
    text-decoration: none;
    font-size: 14px;
}
.footer_masthead_wrap a:hover {
    color: #d3b092;
}

@media (max-width: 1200px) {
    .story_image {
        aspect-ratio: 1/1;
        min-height: 0;
    }
}
@media (max-width: 1000px) {
    .bean_metas {
        gap: 15px 30px;
    }
    .bean_meta_single {
        flex: 1 0 40%;
    }
}
@media (max-width: 900px) {
    .story_grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }
    .story_image:first-child,
    .story_image:last-child,
    .story_image {
        aspect-ratio: 2/1;
        width: 100%;
        grid-column: 1/2;
        grid-row: initial;
    }
    .story_block_copy {
        grid-row: initial;
    }
}
@media (max-width: 700px) {
    section {
        padding: 10vw;
    }
    .header_wrapper {
        height: auto;
        max-height: 100vh;
        max-width: 100%;
    }
    .header_flex {
        flex-direction: column;
        gap: 40px;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100vh;
        padding: 0;
    }
    .site_info_meta {
        align-items: center;
    }
    .site_info_meta .hours {
        text-align: center;
    }
}
@media (max-width: 600px) {
    section > h2 {
        font-size: 40px;
    }
    .single_bean {
        padding: 30px 0;
    }
    .bean_details h3 {
        padding: 0 80px 0 0;
    }
    .bean_details h4 {
        font-size: 15px;
        margin: 5px 0;
    }
    .bean_price {
        width: 50px;
        font-size: 24px;
    }
    .country_icon {
        left: initial;
        top: initial;
        width: 20%;
        background-size: 100%;
        height: auto;
        opacity: 0.1;
        aspect-ratio: 1/1;
        bottom: 30px;
        right: 0;
    }
    .bean_metas {
        gap: 6px;
    }
    .bean_meta_single {
        display: flex;
        flex: 1 0 90%;
        gap: 10px;
    }
    .bean_details p.notes,
    .bean_meta_single_value {
        font-size: 17px;
    }

    .menu_section h3 {
        font-size: 30px;
    }
    .menu_item_group h4 {
        font-size: 20px;
    }
    .menu_item {
        padding: 10px 0;
    }

    .story_image:first-child,
    .story_image:last-child,
    .story_image {
        aspect-ratio: 1/1;
    }
    .story_grid {
        gap: 30px;
    }
}
