@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    font-family: "Jost", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dacbb5;
    font-style: normal;
}

main {
    background-color: #f7f0e6;
}
.site_wrapper {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 40px;
}
header {
    background-color: #160e02;
    color: white;
    height: 100vh;
    max-height: 800px;
}
.header_flex {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 40px 0 0 0;
}
.logo {
    background-image: url("../img/brewinghood-logo.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 22vh;
    max-height: 300px;
    aspect-ratio: 404 / 346;
    min-height: 200px;
}
.logo h1 {
    text-indent: -9999px;
    position: absolute;
}
.site_info_meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.site_info_meta .socials {
    font-size: 40px;
    margin: 0 0 30px 0;
    padding: 0 0 30px 0;
    border-bottom: 2px solid #fff;
}
.site_info_meta .socials a {
    padding: 15px;
}
.site_info_meta .hours {
    text-align: right;
    display: flex;
    flex-direction: column;
}
.hours_time {
    font-size: 24px;
    font-weight: 700;
}
.hours_time {
    font-size: 20px;
    font-weight: 400;
}
